<div class="layout-footer">
    <img
        src="assets/images/Logo_Bouygues_Telecom.png"
        alt="Logo"
        height="20"
        class="mr-2"
    />
    by
    <span class="font-medium ml-2">Bouygues Telecom</span>
</div>
