<div
    class="surface-ground flex align-items-center justify-content-center min-h-full min-w-full overflow-hidden"
>
    <div
        class="my-3 flex flex-column align-items-center justify-content-center"
    >
        <div
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="w-full surface-card py-4 px-5 sm:px-8"
                style="border-radius: 53px"
            >
                <div style="display: flex; justify-content: center">
                    <img
                        src="assets/images/Logo_Bouygues_Telecom.jpg"
                        alt="Logo"
                        class="my-2 w-6rem flex-shrink-0"
                    />
                </div>
                <div class="text-center my-3">
                    <span class="text-600 font-medium"
                        >Connectez-vous pour continuer</span
                    >
                </div>
                <div class="flex justify-content-center gap-2 my-3">
                    <p-messages
                        [(value)]="messages"
                        [enableService]="false"
                        [closable]="false"
                    ></p-messages>
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="submit()">
                    <label
                        for="email1"
                        class="block text-900 text-xl font-medium mb-2"
                        >Email</label
                    >
                    <input
                        id="email1"
                        formControlName="email"
                        type="text"
                        placeholder="Email address"
                        pInputText
                        class="w-full md:w-30rem mb-5"
                        style="padding: 1rem"
                        autocomplete="current-email"
                    />

                    <label
                        for="password"
                        class="block text-900 font-medium text-xl mb-2"
                        >Password</label
                    >
                    <p-password
                        id="password"
                        formControlName="password"
                        placeholder="Password"
                        [toggleMask]="true"
                        styleClass="w-full mb-2"
                        inputStyleClass="w-full p-3 md:w-30rem"
                        autocomplete="current-password"
                    ></p-password>
                    <small
                        id="password-help"
                        class="block text-red-600 block mb-5 mx-2"
                        >{{ loginFailedMessage }}</small
                    >

                    <div
                        class="flex align-items-center justify-content-between mb-5 gap-5"
                    >
                        <div class="flex align-items-center">
                            <p-checkbox
                                id="rememberme1"
                                formControlName="checkbox"
                                [binary]="true"
                                styleClass="mr-2"
                            ></p-checkbox>
                            <label for="rememberme1">Remember me</label>
                        </div>
                        <a
                            class="font-medium no-underline ml-2 text-right cursor-pointer"
                            style="color: var(--primary-color)"
                            routerLink="/email-verification"
                            >Forgot password?</a
                        >
                    </div>
                    <button
                        pButton
                        pRipple
                        label="Sign In"
                        type="submit"
                        [loading]="loading"
                        [disabled]="!loginForm.valid || loading"
                        class="w-full p-3 text-xl {{
                            !loginForm.valid ? 'cursor-invalid' : ''
                        }}"
                    ></button>
                </form>
                <!-- <div class="text-center mt-5 mb-3">
                    <a
                        class="font-medium cursor-pointer text-right hover:text-"
                        style="color: var(--primary-color)"
                        routerLink="/email-verification"
                        >Create an account now</a
                    >
                </div> -->
            </div>
        </div>
    </div>
</div>
